{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'gestion/public/sass/style.css' %}">
    <link rel="stylesheet" href="{% static 'gestion/public/fontawesome-free-5.15.4-web/css/all.min.css' %}">
    <title>Page d'authetification</title>
</head>
<body>
    <div class="login">
        <div class="container">
            <div class="heading">
                <div class="fa fa-user"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque?</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-form">
                    <i class="fa fa-user"></i>
                    <input type="text" name="email" id="" placeholder="Votre Nom...">
                </div>
                <div class="input-form">
                    <i class="fa fa-key"></i>
                    <input type="password" name="password" id="" placeholder="Mot de passe...">
                </div>
                <div class="btn-form">
                    <button type="submit">Se connecter</button>
                    <a href="{% url 'inscription' %}">S'inscrire</a>
                </div>
                {% if messages %}
                    {% for mess in messages%}
                        {% if mess.tags == "error"%}
                            <p style="width: 100%; padding: 1rem; background-color: rgba(30, 255, 0, 0.39); color: rgb(0, 163, 55); border-radius: 5px;  font-weight: bold; text-align: center;">{{mess}}</p>
                        {%else}
                            <p>{{mess}}</p>
                        {%endif%}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>