{% extends 'client/base.html' %}
{% block titre %}Accueil{%endblock%}
{% block section %}
<section>
    <p class="p">Recharge</p>
    <div class="contenu">
        <div class="heading">
            <h3>Forfait Complet</h3>
        </div>
        <div class="card">
            <div class="card-item">
                <h4>Forfait Maxi</h4>
                <div class="card-body">
                    <p>Data : 30Mo</p>
                    <p>Durée d'appel(s) : 30 minutes</p>
                    <p>Nombre SMS : 30</p>
                    <p>Validité : 2 jour(s)</p>
                    <p>Prix : 1000 Ariary</p>
                    <button type="submit">Acheter</button>
                </div>
            </div>
            <div class="card-item">
                <h4>Forfait Maxi</h4>
                <div class="card-body">
                    <p>Data : 30Mo</p>
                    <p>Durée d'appel(s) : 30 minutes</p>
                    <p>Nombre SMS : 30</p>
                    <p>Validité : 2 jour(s)</p>
                    <p>Prix : 1000 Ariary</p>
                    <button type="submit">Acheter</button>
                </div>
            </div>
            <div class="card-item">
                <h4>Forfait Maxi</h4>
                <div class="card-body">
                    <p>Data : 30Mo</p>
                    <p>Durée d'appel(s) : 30 minutes</p>
                    <p>Nombre SMS : 30</p>
                    <p>Validité : 2 jour(s)</p>
                    <p>Prix : 1000 Ariary</p>
                    <button type="submit">Acheter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu">
        <div class="heading">
            <h3>Forfait Complet</h3>
        </div>
        <div class="card">
            <div class="card-item">
                <h4>Forfait Maxi</h4>
                <div class="card-body">
                    <p>Data : 30Mo</p>
                    <p>Durée d'appel(s) : 30 minutes</p>
                    <p>Nombre SMS : 30</p>
                    <p>Validité : 2 jour(s)</p>
                    <p>Prix : 1000 Ariary</p>
                    <button type="submit">Acheter</button>
                </div>
            </div>
            <div class="card-item">
                <h4>Forfait Maxi</h4>
                <div class="card-body">
                    <p>Data : 30Mo</p>
                    <p>Durée d'appel(s) : 30 minutes</p>
                    <p>Nombre SMS : 30</p>
                    <p>Validité : 2 jour(s)</p>
                    <p>Prix : 1000 Ariary</p>
                    <button type="submit">Acheter</button>
                </div>
            </div>
            <div class="card-item">
                <h4>Forfait Maxi</h4>
                <div class="card-body">
                    <p>Data : 30Mo</p>
                    <p>Durée d'appel(s) : 30 minutes</p>
                    <p>Nombre SMS : 30</p>
                    <p>Validité : 2 jour(s)</p>
                    <p>Prix : 1000 Ariary</p>
                    <button type="submit">Acheter</button>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}