{% extends 'client/base.html' %}
{% block titre %}Accueil{%endblock%}
{% block section %}
<section>
    <p class="p">Recharge</p>
    {% if messages %}
        {% for message in messages%}
            {% if message.tags == 'error'%}
                <p style="width: 100%; padding: 1rem; justify-content: center; align-items: center;background-color: rgba(247, 6, 6, 0.432);margin-bottom: .5rem;text-align: center;color: rgb(241, 4, 4); border-radius: 10px; font-weight: bold;"> {{message}}</p>
            {%else%}
                <p style="width: 100%; padding: 1rem; justify-content: center; align-items: center;background-color: rgba(3, 175, 41, 0.479);margin-bottom: .5rem;text-align: center;color: rgb(22, 104, 6); border-radius: 10px; font-weight: bold;"> Mr/Mme {{user.username}} {{user.first_name}} {{message}}</p>    
            {%endif%}
        {% endfor %}
    {% endif %}
    {% for tp in type_forfait%}
        <div class="contenu">
            <div class="heading">
                <h3>{{tp.type_forfait}}</h3>
            </div>
            <div class="card">
                
                {% for f in forfait%}
                    {% if f.type_forfait_id == tp.id%}
                        <div class="card-item">
                            <h4> {{f.nom}} </h4>
                            <div class="card-body">
                                <p>Data : {{f.data_mo}}</p>
                                <p>Durée d'appel(s) : {{f.minutes}}</p>
                                <p>Nombre SMS : {{f.sms}}</p>
                                <p>Validité : {{f.duree_jours}} jour(s)</p>
                                <p>Prix : {{f.prix}} Ariary</p>
                                {%for cli in client%}
                                    {%if cli.user_id == user.id%}
                                    <form action="" method="post">
                                        {%csrf_token%}
                                        <input type="hidden" name="id_client" id="" value="{{cli.id}}" readonly>
                                        <input type="hidden" name="id_forfait" id="" value="{{f.id}}" readonly>
                                        <input type="hidden" name="duree" id="" value="{{f.duree_jours}}" readonly>
                                        <button type="submit">Acheter</button>
                                    </form>
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
                    {% endif %}
                {%endfor%}
            </div>
        </div>
    {%endfor%}
</section>
{%endblock%}