{% extends 'client/base.html' %}
{% block titre %}Facture{%endblock%}
{% block section %}
<section class="facture">
    <p class="p">Vos factures</p>
    <div class="content-facture">
        <div class="head">
            <input type="text" name="" id="search" placeholder="Recherche....">
        </div>
        <div class="indice" style="padding: 1rem 2rem; display: flex; align-items: center;">
            <div title="Expiré" style="width: 20px; height: 20px; background-color: red; border-radius: 50%;"></div>  <p style="margin:0 .5rem"> : Expiré  |</p>
            <div title="Expiré" style="width: 20px; height: 20px; background-color: rgb(0, 255, 13); border-radius: 50%;"></div>  <p style="margin:0 .5rem"> : En cours</p>
        </div>
        <div class="container">
            <div class="table">
                <table>
                    <thead>
                        <th>Abonnement N°</th>
                        <th>Nom Forfait</th>
                        <th>Prix</th>
                        <th>Devise</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {%for ab in abonnement%}
                            {%if ab.client.user_id == user.id%}
                            <tr>
                                <td> {{ab.id}} </td>
                                <td>
                                    {{ab.forfait.nom}}
                                    <p style="color: gray; padding: .3rem 0; font-size: .8rem;">
                                        {{ab.forfait.type_forfait.type_forfait}}
                                    </p>
                                </td>
                                <td>{{ab.forfait.prix}}</td>
                                <td>Ariary</td>
                                <td>
                                    {% if ab.date_fin < aujourd_hui %}
                                        <div title="Expiré" style="width: 20px; height: 20px; background-color: red; border-radius: 50%;"></div>
                                    {% else %}
                                        <div title="Actif" style="width: 20px; height: 20px; background-color: rgb(0, 255, 13); border-radius: 50%;"></div>
                                    {% endif %}
                                </td>
                            </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{%endblock%}