{% extends 'client/base.html' %}
{% block titre %}Facture{%endblock%}
{% block section %}
<section class="facture">
    <p class="p">Vos factures</p>
    <div class="content-facture">
        <div class="head">
            <input type="text" name="" id="search" placeholder="Recherche....">
        </div>
        <div class="container">
            <div class="table">
                <table>
                    <thead>
                        <th>Abonnement N°</th>
                        <th>Nom Forfait</th>
                        <th>Prix</th>
                        <th>Devise</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {%for ab in abonnement%}
                            {%if ab.client.user_id == user.id%}
                            <tr>
                                <td> {{ab.id}} </td>
                                <td>
                                    {{ab.forfait.nom}}
                                    <p style="color: gray; padding: .3rem 0; font-size: .8rem;">
                                        {{ab.forfait.type_forfait.type_forfait}}
                                    </p>
                                </td>
                                <td>{{ab.forfait.prix}}</td>
                                <td>Ariary</td>
                                <td>
                                    
                                </td>
                            </tr>
                            {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{%endblock%}