{% extends 'client/base.html' %}
{% block titre %}Profil{%endblock%}
{% block section %}
<section class="profil">
    <p class="p">Votre profil</p>
    <div class="content-profil">
        <div class="container">
            <div class="table">
                <form action="" method="post">
                    <div class="profile-container">
                        {%if user.id == cl.user_id%}
                            <img src="{{cl.photo.url}}" alt="" class="profile-img">
                        {%else%}
                            <img id="profilePreview" src="" alt="" class="profile-img">
                        {%endif%}
                        <button type="button" class="upload-btn" onclick="document.getElementById('fileInput').click();">
                            <i class="fa fa-plus"></i>
                        </button>
                        <input type="file" id="fileInput" accept="image/*" onchange="previewImage(event)">
                    </div>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Nom..." value="{{user.username}}">
                    </div>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Prénom..." value="{{user.first_name}}">
                    </div>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Adresse email..."  value="{{user.email}}">
                    </div>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Numero Téléphone..." value="{{cl.numero_tel}}">
                    </div>
                    <div class="input">
                        <input type="date" name="" id="" placeholder="Date de naissance...">
                    </div>
                    <div class="input">
                        <input type="text" name="" id="" placeholder="Numero CIN..." value="{{cl.cin}}">
                    </div>                                          
                    <div class="input">
                        <button type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}