{% extends 'admin_gestion/base.html' %}
{% block title %}Abonnements{%endblock%}
{% block content %}
<div class="content-table">
        <div class="head">
            <input type="text" name="" id="search" placeholder="Recherche....">
            <div class="icon">
                <i class="fa fa-bars" id="menu-btn"></i>
            </div>
        </div>
        <div class="titre">
            <h3>Liste des Abonnements</h3>
        </div>
        <div class="indice" style="padding: 1rem 2rem; display: flex; align-items: center;">
            <div title="Expiré" style="width: 20px; height: 20px; background-color: red; border-radius: 50%;"></div>  <p style="margin:0 .5rem"> : Expiré  |</p>
            <div title="Expiré" style="width: 20px; height: 20px; background-color: rgb(0, 255, 13); border-radius: 50%;"></div>  <p style="margin:0 .5rem"> : En cours</p>
        </div>
        <div class="container">
            <div class="table">
                <table>
                    <thead>
                        <th>Nom Client</th>
                        <th>Nom Forfait</th>
                        <th>Prix</th>
                        <th>Devise</th>
                        <th>Date fin</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {%for ab in abonnement%}
                            <tr>
                                <td>
                                    {{ab.client.user.username}}
                                    <p style="color: gray; padding: .3rem 0; font-size: .8rem;">
                                        {{ab.client.user.first_name}}
                                    </p> </td>
                                <td>
                                    {{ab.forfait.nom}}
                                    <p style="color: gray; padding: .3rem 0; font-size: .8rem;">
                                        {{ab.forfait.type_forfait.type_forfait}}
                                    </p>
                                </td>
                                <td>{{ab.forfait.prix}}</td>
                                <td>Ariary</td>
                                <td>{{ab.date_fin}}</td>
                                <td>
                                    {% if ab.date_fin < aujourd_hui %}
                                        <div title="Expiré" style="width: 20px; height: 20px; background-color: red; border-radius: 50%;"></div>
                                    {% else %}
                                        <div title="Actif" style="width: 20px; height: 20px; background-color: rgb(0, 255, 13); border-radius: 50%;"></div>
                                    {% endif %}
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}