{% extends 'admin_gestion/base.html' %}
{% block title %}Liste des clients{%endblock%}
{% block content %}
<div class="content-table">
    <div class="head">
        <input type="text" name="" id="search" placeholder="Recherche....">
        <div class="icon">
            <i class="fa fa-bars" id="menu-btn"></i>
        </div>
    </div>
    <div class="titre">
        <h3>Liste des Abonnements</h3>
    </div>
    <div class="container">
        <div class="table">
            <table>
                <thead>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date</th>
                    <th>Numero : </th>
                </thead>
                <tbody>
                    {%for cl in client%}
                        <tr>
                            <td>
                                {%if cl.photo%}
                                    <img src="{{cl.photo.url}}" alt="" style="width: 50px; height: 50px;border-radius: 5px;">
                                {%else%}
                                    <i class="fa fa-user" style="font-size: 40px;"></i>
                                {%endif%}
                            </td>
                            <td> {{cl.user.username}} </td>
                            <td>{{cl.user.first_name}}</td>
                            <td>{{cl.date_naissance}}</td>
                            <td>
                                Tel : {{cl.numero_tel}}
                                <p style="color: gray; padding: .3rem 0; font-size: .8rem;"> CIN : {{cl.cin}} </p> 
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}